.header
{
 font-size: 30px;
 width: 100%;
 margin: 0%;
 box-shadow: 5px 5px 5px red;
 color: darkgreen;
}
.note
{
    font-size: 15px;
    color: black;
}
.copy_right_footer
{
 position: fixed;
 bottom: 0;
 width: 100%;
 background-color: wheat;
 color: brown;
 text-align: center;
 line-height: 3;
 font-size: 30px;
}
canvas
{
    border:5px solid wheat;
    border-radius: 20px;
    box-shadow: 5px 5px 5px red;
}